@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,600;6..12,800&display=swap");

$dark-mode-elements: hsl(209, 23%, 22%);
$dark-mode-background: hsl(207, 26%, 17%);
$light-mode-text: hsl(200, 15%, 8%);
$light-mode-input: hsl(0, 0%, 52%);
$light-mode-background: hsl(0, 0%, 98%);
$dark-mode-text: hsl(0, 0%, 100%);
$light-mode-elements: hsl(0, 0%, 100%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

body {
  background-color: $light-mode-background;
}

%decoration-none {
  a {
    text-decoration: none;
    color: inherit;
  }
}

%navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0 80px;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.1);

  .navbar__header {
    cursor: pointer;
  }

  .navbar__moon-icon {
    margin: 0 10px 0 0;
  }

  .navbar__theme {
    font-weight: 600;
    cursor: pointer;
  }
}

%options {
  display: flex;
  justify-content: space-between;
  padding: 50px 80px;

  .options__search-icon {
    color: gray;
    padding: 0 0 0 20px;
    margin: 0 20px 0 0;
  }

  .options__select-bar {
    width: 200px;
    height: 60px;
  }
}

%options__input {
  border: none;
  outline: none;
  background: inherit;
  font-size: 16px;
  height: 60px;
  width: 100%;
  border-radius: 5px;
  color: $light-mode-text;
}

%options__input__dark {
  border: none;
  outline: none;
  background: inherit;
  font-size: 16px;
  height: 60px;
  width: 100%;
  border-radius: 5px;
  color: $dark-mode-text;
}

%search-bar {
  display: flex;
  align-items: center;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.1);
  flex-basis: 500px;
  border-radius: 5px;
}

%select-menu {
  width: 100%;
  height: 100%;
  padding: 20px;
  -webkit-appearance: none;
  font-size: 16px;
  border: none;
  outline: none;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

%countries {
  display: grid;
  row-gap: 70px;
  column-gap: 70px;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 80px;
}

%country__container {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

%country {
  img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }

  .country__name {
    margin: 0 0 20px 0;
  }

  .country__informations {
    padding: 20px;

    .country__information {
      color: $light-mode-text;
      margin: 10px 0 0 0;

      span {
        font-weight: 600;
      }
    }
  }
}

%country__dark {
  img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }

  .country__name__dark {
    margin: 0 0 20px 0;
  }

  .country__informations__dark {
    padding: 20px;

    .country__information__dark {
      color: $dark-mode-text;
      margin: 10px 0 0 0;

      span {
        font-weight: 600;
      }
    }
  }
}

.navbar {
  @extend %navbar;
  @extend %decoration-none;
  background-color: $light-mode-elements;
  color: $light-mode-text;

  &__dark {
    @extend %navbar;
    @extend %decoration-none;
    background-color: $dark-mode-elements;
    color: $dark-mode-text;
  }
}

.options {
  @extend %options;
  background-color: $light-mode-background;
  color: $light-mode-text;

  &__dark {
    @extend %options;
    background-color: $dark-mode-background;
    color: $dark-mode-text;
  }

  &__search-bar {
    @extend %search-bar;
    background-color: $light-mode-elements;
    color: $light-mode-text;

    ::placeholder {
      color: $light-mode-text;
    }

    &__dark {
      @extend %search-bar;
      background-color: $dark-mode-elements;
      color: $dark-mode-text;

      ::placeholder {
        color: $dark-mode-text;
      }
    }
  }

  &__input {
    @extend %options__input;

    &__dark {
      @extend %options__input__dark;
    }
  }

  &__select-menu {
    @extend %select-menu;
    background-color: $light-mode-elements;
    color: $light-mode-text;

    &__dark {
      @extend %select-menu;
      background-color: $dark-mode-elements;
      color: $dark-mode-text;
    }
  }
}

.countries::before {
  content: "";
  background-color: $light-mode-background;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.countries__dark::before {
  content: "";
  background-color: $dark-mode-background;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.countries {
  @extend %countries;
  @extend %decoration-none;
  @extend %country;
  color: $light-mode-text;

  &__dark {
    @extend %countries;
    @extend %decoration-none;
    @extend %country__dark;
    color: $dark-mode-text;
  }
}

.country__container {
  @extend %country__container;
  background-color: $light-mode-elements;
  color: $light-mode-text;

  &__dark {
    @extend %country__container;
    background-color: $dark-mode-elements;
    color: $dark-mode-text;
  }
}

.country__informations {
  background-color: $light-mode-elements;
  color: $light-mode-text;

  &__dark {
    background-color: $dark-mode-elements;
    color: $dark-mode-text;
  }
}

.specific-country::before {
  content: "";
  background-color: $light-mode-background;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.specific-country__dark::before {
  content: "";
  background-color: $dark-mode-background;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

%specific-country {
  background-color: $light-mode-background;
  margin: 50px 80px;
  display: flex;
  align-items: center;

  button {
    background-color: $light-mode-background;
    color: $light-mode-text;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;

    span {
      margin: 0 0 0 10px;
    }
  }

  img {
    height: 160px;
  }

  .specific-country__container {
    display: flex;
    align-items: center;
    margin: 80px 0 0 0;
    gap: 160px;
  }

  .specific-country__informations-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .specific-country__informations {
    display: flex;
    justify-content: space-between;
    gap: 100px;
  }

  .specific-country__information {
    display: flex;
    gap: 10px;
    flex-direction: column;

    span {
      font-weight: 600;
    }
  }

  .specific-country__border-countries {
    display: flex;
    align-items: center;
    gap: 10px;

    p {
      font-weight: 600;
    }
  }
}

.specific-country {
  @extend %specific-country;
  &__dark {
    @extend %specific-country__dark;
  }
}

%specific-country__dark {
  background-color: $dark-mode-background;
  margin: 50px 80px;
  display: flex;
  align-items: center;

  button {
    background-color: $dark-mode-elements;
    color: $dark-mode-text;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;

    span {
      margin: 0 0 0 10px;
    }
  }

  img {
    height: 160px;
  }

  .specific-country__container__dark {
    display: flex;
    align-items: center;
    margin: 80px 0 0 0;
    gap: 160px;
    color: $dark-mode-text;
  }

  .specific-country__informations-container__dark {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .specific-country__informations__dark {
    display: flex;
    justify-content: space-between;
    gap: 100px;
  }

  .specific-country__information__dark {
    display: flex;
    gap: 10px;
    flex-direction: column;

    span {
      font-weight: 600;
    }
  }

  .specific-country__border-countries__dark {
    display: flex;
    align-items: center;
    gap: 10px;

    p {
      font-weight: 600;
    }
  }
}
