@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,600;6..12,800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

body {
  background-color: hsl(0, 0%, 98%);
}

.countries__dark a, .countries a, .navbar__dark a, .navbar a {
  text-decoration: none;
  color: inherit;
}

.navbar__dark, .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0 80px;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.1);
}
.navbar__dark .navbar__header, .navbar .navbar__header {
  cursor: pointer;
}
.navbar__dark .navbar__moon-icon, .navbar .navbar__moon-icon {
  margin: 0 10px 0 0;
}
.navbar__dark .navbar__theme, .navbar .navbar__theme {
  font-weight: 600;
  cursor: pointer;
}

.navbar {
  background-color: hsl(0, 0%, 100%);
  color: hsl(200, 15%, 8%);
}
.navbar__dark {
  background-color: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
}

.options__dark, .options {
  display: flex;
  justify-content: space-between;
  padding: 50px 80px;
}
.options__dark .options__search-icon, .options .options__search-icon {
  color: gray;
  padding: 0 0 0 20px;
  margin: 0 20px 0 0;
}
.options__dark .options__select-bar, .options .options__select-bar {
  width: 200px;
  height: 60px;
}
.options__dark svg, .options svg {
  margin-left: 10px;
}

.options__dropdown-toggle__dark, .options__dropdown-toggle {
  min-width: 176px;
  max-width: 176px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  cursor: pointer;
  -webkit-appearance: none;
  font-size: 16px;
  border: none;
  outline: none;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.options {
  background-color: hsl(0, 0%, 98%);
  color: hsl(200, 15%, 8%);
}
.options__dark {
  background-color: hsl(207, 26%, 17%);
  color: hsl(0, 0%, 100%);
}
.options__search-bar {
  background-color: hsl(0, 0%, 100%);
  color: hsl(200, 15%, 8%);
}
.options__search-bar ::placeholder {
  color: hsl(200, 15%, 8%);
}
.options__search-bar__dark {
  background-color: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
}
.options__search-bar__dark ::placeholder {
  color: hsl(0, 0%, 100%);
}
.options__input {
  border: none;
  outline: none;
  background: inherit;
  font-size: 16px;
  height: 60px;
  width: 100%;
  border-radius: 5px;
  color: hsl(0, 0%, 98%);
}
.options__input__dark {
  border: none;
  outline: none;
  background: inherit;
  font-size: 16px;
  height: 60px;
  width: 100%;
  border-radius: 5px;
  color: hsl(207, 26%, 17%);
}
.options__dropdown-toggle {
  background-color: hsl(0, 0%, 100%);
  color: hsl(200, 15%, 8%);
}
.options__dropdown-toggle__dark {
  background-color: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
}
.options__dropdown-menu {
  position: absolute;
  margin: 5px 0 0 0;
  background-color: hsl(0, 0%, 100%);
  min-width: 176px;
  max-width: 176px;
  padding: 20px;
  cursor: pointer;
  -webkit-appearance: none;
  font-size: 16px;
  border: none;
  outline: none;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.options__dropdown-menu__dark {
  position: absolute;
  margin: 5px 0 0 0;
  background-color: hsl(209, 23%, 22%);
  min-width: 176px;
  max-width: 176px;
  padding: 20px;
  cursor: pointer;
  -webkit-appearance: none;
  font-size: 16px;
  border: none;
  outline: none;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.options__dropdown-menu__closed {
  display: none;
}
.options__select-menu {
  border: none;
  display: flex;
  padding: 10px 0 0 0;
  color: hsl(200, 15%, 8%);
  background-color: inherit;
  font-size: 16px;
  font-weight: 600px;
  cursor: pointer;
}
.options__select-menu__dark {
  border: none;
  display: flex;
  padding: 10px 0 0 0;
  color: hsl(0, 0%, 100%);
  background-color: inherit;
  font-size: 16px;
  font-weight: 600px;
  cursor: pointer;
}

.options__search-bar, .options__search-bar__dark {
  display: flex;
  align-items: center;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.1);
  flex-basis: 500px;
  border-radius: 5px;
}

.countries__dark, .countries {
  display: grid;
  row-gap: 70px;
  column-gap: 70px;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 80px;
}

.countries::before {
  content: "";
  background-color: hsl(0, 0%, 98%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.countries__dark::before {
  content: "";
  background-color: hsl(207, 26%, 17%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.countries {
  color: hsl(200, 15%, 8%);
}
.countries__dark {
  color: hsl(0, 0%, 100%);
}

.country__container__dark, .country__container {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.country__container {
  background-color: hsl(0, 0%, 100%);
  color: hsl(200, 15%, 8%);
}
.country__container img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.country__container__dark {
  background-color: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
}

.countries .country__name {
  margin: 0 0 20px 0;
}
.countries .country__informations {
  padding: 20px;
}
.countries .country__informations .country__information {
  color: hsl(200, 15%, 8%);
  margin: 10px 0 0 0;
}
.countries .country__informations .country__information span {
  font-weight: 600;
}

.countries__dark img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.countries__dark .country__name__dark {
  margin: 0 0 20px 0;
}
.countries__dark .country__informations__dark {
  padding: 20px;
}
.countries__dark .country__informations__dark .country__information__dark {
  color: hsl(0, 0%, 100%);
  margin: 10px 0 0 0;
}
.countries__dark .country__informations__dark .country__information__dark span {
  font-weight: 600;
}

.specific-country__dark .specific-country__container__dark, .specific-country__dark .specific-country__container, .specific-country .specific-country__container__dark, .specific-country .specific-country__container {
  display: flex;
  align-items: center;
  gap: 40px;
  margin: 60px 0 0 0;
}

.specific-country__dark .specific-country__informations-container__dark, .specific-country__dark .specific-country__informations-container, .specific-country .specific-country__informations-container__dark, .specific-country .specific-country__informations-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 0 0 0 100px;
}

.specific-country__dark .specific-country__informations__dark, .specific-country__dark .specific-country__informations, .specific-country .specific-country__informations__dark, .specific-country .specific-country__informations {
  display: flex;
  justify-content: space-between;
  gap: 100px;
}

.specific-country__dark .specific-country__information__dark, .specific-country__dark .specific-country__information, .specific-country .specific-country__information__dark, .specific-country .specific-country__information {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.specific-country__dark .specific-country__information__dark span, .specific-country__dark .specific-country__information span, .specific-country .specific-country__information__dark span, .specific-country .specific-country__information span {
  font-weight: 600;
}

.specific-country__dark .specific-country__border-countries__dark, .specific-country__dark .specific-country__border-countries, .specific-country .specific-country__border-countries__dark, .specific-country .specific-country__border-countries {
  display: flex;
  align-items: center;
  gap: 10px;
}
.specific-country__dark .specific-country__border-countries__dark p, .specific-country__dark .specific-country__border-countries p, .specific-country .specific-country__border-countries__dark p, .specific-country .specific-country__border-countries p {
  font-weight: 600;
}

.specific-country {
  background-color: hsl(0, 0%, 98%);
  margin: 50px 80px;
  display: flex;
  align-items: center;
}
.specific-country button {
  background-color: hsl(0, 0%, 100%);
  color: hsl(200, 15%, 8%);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
.specific-country button span {
  margin: 0 0 0 10px;
}
.specific-country img {
  height: 160px;
}
.specific-country .specific-country__container {
  color: hsl(200, 15%, 8%);
}
.specific-country .specific-country__container__dark {
  color: hsl(200, 15%, 8%);
}
.specific-country__dark {
  background-color: hsl(207, 26%, 17%);
  margin: 50px 80px;
  display: flex;
  align-items: center;
}
.specific-country__dark button {
  background-color: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
.specific-country__dark button span {
  margin: 0 0 0 10px;
}
.specific-country__dark img {
  height: 160px;
}
.specific-country__dark .specific-country__container {
  color: hsl(0, 0%, 100%);
}
.specific-country__dark .specific-country__container__dark {
  color: hsl(0, 0%, 100%);
}
.specific-country::before {
  content: "";
  background-color: hsl(0, 0%, 98%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.specific-country__dark::before {
  content: "";
  background-color: hsl(207, 26%, 17%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/*# sourceMappingURL=main.css.map */
